<main>
    <section class="py-8">
        <!-- Rubrique : Comment trouver mon artisan ? -->
        <div class="container mx-auto">
            <h2 class="text-2xl font-bold text-center mb-6">Comment trouver mon artisan ?</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <!-- Étape 1 -->
                <div class="text-center bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
                    <div class="text-4xl font-bold text-[#00497c] ">1</div>
                    <p class="mt-2 text-gray-700">Choisir la catégorie d'artisanat dans le menu.</p>
                </div>
                <!-- Étape 2 -->
                <div class="text-center bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
                    <div class="text-4xl font-bold text-[#00497c]">2</div>
                    <p class="mt-2 text-gray-700">Choisir un artisan.</p>
                </div>
                <!-- Étape 3 -->
                <div class="text-center bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
                    <div class="text-4xl font-bold text-[#00497c]">3</div>
                    <p class="mt-2 text-gray-700">Le contacter via le formulaire de contact.</p>
                </div>
                <!-- Étape 4 -->
                <div class="text-center bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
                    <div class="text-4xl font-bold text-[#00497c]">4</div>
                    <p class="mt-2 text-gray-700">Une réponse sera apportée sous 48h.</p>
                </div>
            </div>
        </div>  
    </section>

   

    <section class="py-8">
        <!-- Rubrique : Artisans du mois -->
        <div class="container mx-auto my-10">
        <h2 class="text-2xl font-bold text-center mb-6">Artisans du mois</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Artisan 1 -->
            <div class="bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
            <h3 class="text-lg font-bold">Nom de l'artisan : Orville Salmons</h3>
            <p class="text-sm text-gray-600">Spécialité : Chauffagiste</p>
            <p class="text-sm text-gray-600">Localisation : Evian</p>
            <p class="text-[#82b864] ">Note : ⭐⭐⭐⭐⭐ (5/5)</p>
            </div>
            <!-- Artisan 2 -->
            <div class="bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
            <h3 class="text-lg font-bold">Nom de l'artisan : Ernest Carignan</h3>
            <p class="text-sm text-gray-600">Spécialité : Ferronier</p>
            <p class="text-sm text-gray-600">Localisation : Le Puy-en-Velay</p>
            <p class="text-[#82b864]">Note : ⭐⭐⭐⭐⭐ (5/5)</p>
            </div>
            <!-- Artisan 3 -->
            <div class="bg-[#f1f8fc] p-4 border border-gray-300 rounded shadow">
            <h3 class="text-lg font-bold">Nom de l'artisan : Chocolaterie Labbé</h3>
            <p class="text-sm text-gray-600">Spécialité : Chocolatier</p>
            <p class="text-sm text-gray-600">Localisation : Grenoble</p>
            <p class="text-[#82b864]">Note : ⭐⭐⭐⭐⭐ (4,9/5)</p>
            </div>
        </div>
        </div>
    </section>
</main>
